.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin-top: 1px;
    padding-inline: 2px;
    padding-top: 0;
    padding-bottom: 0;
    color:cadetblue;
    font-weight: bold;

}
