.accordionImage {
    opacity: 0.25;
    z-index: 99;
    width: 300px;
    height: 300px;
    padding-bottom: 2%;
}
.accordionContent{
    display: flex;
    align-content: center;
    justify-content: center;

}
.accordionText{
    position: absolute;
    text-align: left !important;
    width: 95%;
    font-size: medium;
}
