.accordionImage {
    opacity: 1;
    z-index: 99;
    width: 300px;
    height: 300px;
    padding-bottom: 2%;
}

.accordionContent {
    display: flex;
    align-content: center;
    justify-content: center;
}

.accordionText {
    position: absolute;
    text-align: left !important;
    width: 95%;
    font-size: medium;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    width: 100%;
    text-align: center;
}

.fadeBox {
    min-width: 299px;
    min-height: 299px;
    max-width: 300px;
    max-height: 300px;
}

.contentBoxText {
    padding-top: 25%;
    max-width: 80%;
    margin-left: 10%;
}

.contentBox {

}
